# ==============================================================================
# REGRAS DO FRONTEND (REACT / VITE)
# ==============================================================================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.local/

# Logs de erro de pacotes do Node
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# ==============================================================================
# REGRAS DO BACKEND (PYTHON / FASTAPI)
# ==============================================================================
backend/__pycache__/
backend/venv/
backend/env/
backend/.venv/
backend/.env

# Banco de dados local SQLite (Dados sensíveis da oficina)
backend/*.db
backend/financeiro.db

# ==============================================================================
# CONFIGURAÇÕES DO EDITOR E SISTEMA (VS CODE & SISTEMAS)
# ==============================================================================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
